extends layout

block content

   if user
      h1 Welcome Back - #{user.username}
       div(class='buttondiv')
        form(action='/trackercreate', method='get')
          button(class='tracker' href='/trackercreate') Create A Manwha Tracker
        br
        form(action='/tracked', method='get')
         button(class='tracked' href='/tracked') Look at Collection Of  Manhwa
        br
        form(action='/log-out', method='get')
         button(class='logout' href='/log-out') Log Out 
   else
    div(class='box') 
     div(class='formbox')
      h1(class='formnotice') Please Log In     
        form(action='/log-in', method='POST' class='logform' autocomplete='off')
          | Username:
          input(type='text', name='username', placeholder='Username' class='input')
          br
          | Password: 
          input(type='password', name='password', placeholder='Password' class='input')
          br
          input(type='submit', value='Log In' class='button' )
     div(class='signbox')
      h1 Or Sign Up 
        form(action='/sign-up', method='POST' class='logform'  autocomplete='off')
          | Username:
          input(type='text' name='username' placeholder='Username' class='input')
          br
          | Password: 
          input(type='password' name='password' class='input' placeholder='Password')
          br
          input(type='submit', value='Sign Up' class='button')