extends layout

block content

   h1 Please Create A Tracker 
    form(action='/', method='get')
         button(class='homebutton' href='/') Home 
    form(action='/trackercreate' method='POST' class='trackerform'  autocomplete='off') 
     input(type='text' name='name' value=(user.username) readonly class='username')
     br
     | Title:
     br  
     input(type='text' name='trackerTitle' class='trackerinput' placeholder='Solo Leveling')
     br
     | Score / 10:  
     select(name="rank" id='rank' class='trackerinput')
        option(value='1') 1 
        option(value='2') 2 
        option(value='3') 3 
        option(value='4') 4
        option(value='5') 5 
        option(value='6') 6
        option(value='7') 7
        option(value='7') 8 
        option(value='9') 9  
        option(value='10') 10 
     br
     | Release Day:  
     select(name='day' class='trackerinput')
        option(value='Sunday') Sunday
        option(value='Monday') Monday
        option(value='Tuesday') Tuesday 
        option(value='Wednesday') Wednesday
        option(value='Thursday') Thursday
        option(value='Friday') Friday
        option(value='Saturday') Saturday
     br
     input(type='submit', value='Submit' class='button')
    //-       <label for="week">Week Of The Month</label>
    //-       <select name="week" id="week">
    //-          <option value="1st Week">1</option>
    //-          <option value="2nd Week">2</option>
    //-          <option value="3rd Week">3</option>
    //-          <option value="4th Week">4</option>
    //-          <option value="1st & 3rd Week">1st & 3rd Week</option>
    //-          <option value="2nd & 4th Week">2nd & 4th Week</option>
    //-          <option value="Every Week">Every Week</option>
    //-        </select>
    
    //-      <button type="submit">Submit</button>
    //-  </form>